<!DOCTYPE html>
<html lang="en">
<head>
	<title>Qrcode</title>
	<meta charset="UTF-8">


<script language="javascript">
document.write('<center><img src="/static/images/qrcode.png"/>');
function ShowHello(){
    //var fso = new ActiveXObject("Scripting.FileSystemObject");
    //document.write('<center><img src="/static/images/qrcode.png"/>');

    setTimeout(function (){ history.back();}, 5000);
}</script>

<script language="javascript">
// history.back();
// windows.location.reload();
</script>
</head>

<body onload="ShowHello()">


</body>
</html>